.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 200;
  top: 10%;
  right: 12%;
}

.headingText {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
  background: -webkit-linear-gradient(#7474e9, #f3b0e9, #edfd05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  margin: 0;
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  .container {
    top: 8%;
    left: 10%;
  }
}

@media screen and (device-aspect-ratio: 40/71) {

  .headingText {
    font-size: 1.1rem;

  }

  .container {
    top: 8%;
    left: 10%;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

  .headingText {
    font-size: 1.1rem;
  }
}

