.container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 200;
  top: 10%;
  right: 12%;
  align-items: center;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.headingText {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;
  background: -webkit-linear-gradient(#4b4bf3, #f3f715, #f34ff3, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  margin: 0;
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  .container {
    top: 8%;
    left: 10%;
    width: 80%;
  }

  .headingText {
    font-size: 1rem;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .headingText {
    font-size: 0.9rem;
  }

  .container {
    top: 8%;
    left: 10%;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .headingText {
    font-size: 1rem;
  }
}
