.sentence {
  margin: 0px 1px 0px 1px;
  padding: 0;
  font-size: 5.5px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond,
    'Times New Roman', serif;
  font-style: normal;
  color: rgba(222, 229, 232, 0.5);
  cursor: text;
}

.sentence:hover {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 2.2rem;
  font-style: normal;
  letter-spacing: 2px;
  font-kerning: auto;
  color: rgba(154, 154,	177, 0.3);
  z-index: 101;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  /* background-image: linear-gradient(to right, rgba(222, 229, 232, 0.3),rgba(154, 154,	177, 0.3)); */
  /* background-image: linear-gradient(to right, rgba(222, 222, 222, 0.3),rgba(154, 154,	177, 0.3)); */
  background-image: linear-gradient(to right, rgba(165, 154, 154, 0.4),rgba(177, 177,	177, 0.3));
  z-index: 100;
  cursor: text;
}
