.sentence {
  margin: 0;
  padding: 0;
  font-size: 5px;
  font-weight: 300;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond,
    'Times New Roman', serif;
  font-style: bold;
  /* color: rgba(222, 222, 222); */
  color: rgba(170,170,170);
  /* background: -webkit-linear-gradient(#dfdfff, rgba(170,170,170)); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  letter-spacing: 0.4px;
  cursor: default;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    font-size: 5px;
    letter-spacing: 0.4px;
    padding: 0;
  }
  to {
    opacity: 1;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 5px 0;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    font-size: 5px;
    letter-spacing: 0.4px;
    padding: 0;
  }
  to {
    opacity: 1;
    font-size: 2.3rem;
    letter-spacing: 2px;
    padding: 5px 0;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    font-size: 5px;
    letter-spacing: 0.4px;
    padding: 0;
  }
  to {
    opacity: 1;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 5px 0;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    font-size: 5px;
    letter-spacing: 0.4px;
    padding: 0;
  }
  to {
    opacity: 1;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 5px 0;
  }
}

/* .sentence:hover {
  transition-delay: 2s;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 5px 0;
  font-style: normal;
  letter-spacing: 2px;
  font-kerning: auto;
  background: -webkit-linear-gradient(#f1f1f8, #f7c1c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 1s;
  animation-name: fadeIn; 
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s; 
  cursor: default;
} */

.container {
  width: 130%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-image: linear-gradient(to right, #f8f8ff, rgb(253, 237, 237));
  /* background-image: linear-gradient(to right, rgba(222, 222, 222, 0.1),rgba(140, 120,	120, 0.3)); */
  z-index: 100;
  margin: 0;
  cursor: default;
}

