.container {
  width: 100%;
  height:calc(100vh);
  left: 0;
  top: 0;
  padding: 0;
  background-color: rgba(250, 236, 236, 0.2);
  margin: 0;
  position: fixed;
  cursor: default;
  overflow-y: scroll;
  display: flex;
}

.header {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#6868f3, #f8fc2a, #f092f0, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  position: fixed;
  align-self: flex-start;
  z-index: 5000;
  margin: 31px 0 0 15px;
}

.header:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hvrgrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrgrow:hover,
.hvrgrow:focus,
.hvrgrow:active {
  transform: scale(1.1);
}

.downloadArrow {
  position: fixed;
  top: 150px;
  right: 100px;
}

.pdf {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 1035px;
  margin-bottom: 30px;
  padding: 0;
  border-style: solid;
  border-width: 10px;
  background-color: rgba(255, 255, 224, 0.15);
  border-color: rgba(247, 210, 210, 0.15);
  padding: 10px;
}

@media only screen and (max-width: 600px) {

  .header {
    font-size: 1.5rem;
    top: 15px;
    left: 15px;
    margin: 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .downloadArrow {
    position: fixed;
    top: 150px;
    right: 20px;
  }

  .pdf {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100px;
    margin-bottom: 30px;
    padding: 0;
  }
 
}

@media screen and (device-aspect-ratio: 40/71) {
  .pdf {
    position: relative;
    left: 0;
    top: 200px;
    width: 90%;
    height: 70%;
    margin-bottom: 30px;
    padding: 0;
  }

}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .pdf {
    position: relative;
    left: 0;
    top: 200px;
    width: 90%;
    height: 72%;
    margin-bottom: 30px;
    padding: 0;
  }
}

