.container {
  width: 140%;
  height:calc(100vh);
  left: 0;
  top: 0;
  padding: 0;
  background-color: rgba(250, 236, 236, 0.2);
  margin: 0;
  position: fixed;
  cursor: default;
  overflow-y: scroll;
}

.header {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#6868f3, #f8fc2a, #f092f0, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  position: fixed;
  align-self: flex-start;
  z-index: 5000;
  margin: 31px 0 0 15px;
}

.header:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hvrgrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrgrow:hover,
.hvrgrow:focus,
.hvrgrow:active {
  transform: scale(1.1);
}

i {
  letter-spacing: 0.2rem;
  font-size: 3em;
  font-weight: 300;
  background: -webkit-linear-gradient(#c1c1f5, #f8fa88, #facefa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  z-index: 10000;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: 200% 200%;
}
@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

i:hover {
  background: -webkit-linear-gradient(#8888f3, #f0f335, #f094f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 10s ease infinite;
}

i:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.downloadArrow {
  position: fixed;
  top: 150px;
  right: 100px;
}

.pdf {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 850px;
  height: 1000px;
  margin-bottom: 30px;
  padding: 0;
}
