.container {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  background-color: rgba(250, 236, 236, 0.2);
  margin: 0;
  position: fixed;
  cursor: default;
  display: flex;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-left: 0;
  align-items: flex-start;
}

.video {
  position: fixed;
  top: 190px;
  left: 100px;
  width: 500px;
  height: 350px;
  margin: 0;
  padding: 0;
}

.iFrame {
  position: fixed;
  top: 210px;
  left: 100px;
  width: 500px;
  height: 350px;
  margin: 0;
  padding: 0;
}

.videoTitle {
  position: fixed;
  top: 130px;
  left: 105px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 200;
  font-family: 'Libre Baskerville', serif;
  color: rgb(151, 150, 150);
  margin: 0;
  width: 100%;
  padding: 0;
  position: fixed;
}

.description {
  position: fixed;
  top: 190px;
  right: 95px;
  width: 37%;
  padding-left: 47px;
  font-size: 0.7rem;
  font-family: 'Libre Baskerville', serif;
  line-height: 1rem;
  color: rgb(99, 98, 98);
  letter-spacing: 0.1rem;
  margin-right: 15px;
  z-index: 0;
  cursor: text;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-shadow: inset 0 0 5px rgba(250, 236, 236, 0.2);
  padding: 10px;
}

.video:focus {
  outline: none !important;
}

.colorPatch {
  width: 600px;
  height: 140%;
  position: absolute;
  right: 450px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(248, 218, 218, 0.2),
    rgba(255, 230, 230, 0.5),
    rgba(248, 252, 220, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  z-index: 0;
  margin: 0;
  cursor: default;
  transform: skew(15deg, 15deg);
}

.header {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#6868f3, #f8fc2a, #f092f0, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  position: fixed;
  align-self: flex-start;
  z-index: 5000;
  margin: 31px 0 0 15px;
}

.header:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hvrgrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrgrow:hover,
.hvrgrow:focus,
.hvrgrow:active {
  transform: scale(1.1);
}

.boldText {
  font-weight: 700;
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

i {
  letter-spacing: 0.2rem;
  font-size: 3em;
  font-weight: 300;
  background: -webkit-linear-gradient(#8888f3, #f0f335, #f094f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  z-index: 10000;
  margin: 0;
  padding: 0;
  text-align: center;
  background-size: 200% 200%;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

i:hover {
  background: -webkit-linear-gradient(#c1c1f5, #f2f55d, #ee46ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 10s ease infinite;
}

i:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrowLeft {
  position: absolute;
  top: 300px;
  left: 20px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.arrowRight {
  position: absolute;
  top: 300px;
  right: 20px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  i {
    font-size: 2rem;
  }

  .header {
    font-size: 1rem;
    top: 15px;
    left: 15px;
    margin: 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .videoTitle {
    position: fixed;
    left: 10px;
    top: 120px;
    font-size: .8rem;
    width: 80%;

    left: 15%;
  }

  .video {
    position: fixed;
    top: 135px;
    left: 15%;
    width: 70%;
    height: 205px;
  }

  .iFrame {
    top: 165px;
    position: fixed;
    left: 15%;
    width: 70%;
    height: 170px;
    margin-bottom: 90px;
  }

  .description {
    position: fixed;
    top: 360px;
    right: 12%;
    width: 70%;
    height: 190px;
    font-size: 0.4rem;
    font-family: 'Libre Baskerville', serif;
    line-height: 0.9rem;
    margin-bottom: 30px;
    margin-right: 0;
    overflow: scroll;
    padding: 10px;
    /* box-shadow: inset 0 0 5px #eee;
    padding: 10px; */
  }

  .arrowLeft {
    position: fixed;
    top: 200px;
    left: 5px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }

  .arrowRight {
    position: fixed;
    top: 200px;
    right: -10px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .description {
    position: fixed;
    top: 290px;
    right: 15%;
    width: 70%;
    padding: 0;
    height: 150px;
    font-size: 0.4rem;
    font-family: 'Libre Baskerville', serif;
    line-height: 0.9rem;
    margin-bottom: 30px;
    margin-right: 0;
    overflow: scroll;
  }

  .video {
    position: fixed;
    top: 145px;
    width: 70%;
    height: 140px;
  }

  .iFrame {
    top: 170px;
    height: 115px;
  }
}

@media only screen and (min-width: 414px) and (min-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .description {
    position: fixed;
    top: 420px;
    right: 15%;
    width: 70%;
    padding: 0;
    height: 300px;
    font-size: 0.4rem;
    font-family: 'Libre Baskerville', serif;
    line-height: 0.9rem;
    margin-bottom: 30px;
    margin-right: 0;
    overflow: scroll;
  }
}
