.container {
  display: flex;
  z-index: 200;
  position: fixed;
  top: 55%;
  width: 75%;
  justify-content: space-between;
}

.option {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 300;
  background: -webkit-linear-gradient(#a5a5f0, #f9fc5c, #ffdfff, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  margin: 0;
}

.option:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hvrgrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrgrow:hover,
.hvrgrow:focus,
.hvrgrow:active {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .container {
    top: 34%;
    width: 10%;
    left: 10%;
    height: 40%;
    flex-direction: column;
    align-items: space-between;
  }

  .option {
    font-size: 2.5rem;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .container {
    top: 34%;
    width: 10%;
    left: 10%;
    flex-direction: column;
  }

  .option {
    font-size: 2rem;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    top: 33%;
    width: 10%;
    left: 10%;
    flex-direction: column;
  }

  .option {
    font-size: 2rem;
  }
}
