.container {
  display: flex;
  position: fixed;
  align-self: flex-end;
  padding-right: 15px;
  top: 30px;
  width: 37%;
  justify-content: space-between;
  z-index: 2500;
}

.option {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#4b4bf3, #ffd902, #f34ff3, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.option:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hvrgrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrgrow:hover,
.hvrgrow:focus,
.hvrgrow:active {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 50%;
  }
}


@media only screen and (max-width: 800px) {
  .container {
    width: 60%;
  }

}

@media only screen and (max-width: 600px) {
  .container {
    top: 8%;
    width: 87%;
    justify-content: space-between;
    padding: 0;
    align-self: center;
  }

  .option {
    font-size: 0.8rem;
  }
}

/* MEDIA QUERY FOR IPHONE 5 SE */
@media screen and (device-aspect-ratio: 40/71) {
  .container {
    top: 12%;
    width: 95%;
  }

  .option {
    font-size: 0.8rem;
  }
}
