.container {
  display: flex;
  z-index: 2500;
  position: fixed;
  top: 30px;
  right: 1.5%;
  width: 37%;
  justify-content: space-between;
}

.option {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.25rem;
  font-weight: 700;
  background: -webkit-linear-gradient(#4b4bf3, #f3f715, #f34ff3, #aaaaaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.option:active {
  background: -webkit-linear-gradient(#828285, #858581, #838183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hvrgrow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvrgrow:hover,
.hvrgrow:focus,
.hvrgrow:active {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .container {
    top: 8%;
    right: auto;
    width: 90%;
    justify-content: space-between;
  }

  .option {
    font-size: 0.7rem;
  }
}

/* MEDIA QUERY FOR IPHONE 5 SE */
@media screen and (device-aspect-ratio: 40/71) {
  .container {
    top: 12%;
  }

  .option {
    font-size: 0.6rem;
  }
}
